<div class="content" role="main">
    <form class="form-group" (ngSubmit)="login()">

        <div class="form-group col-md-12">
            <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
        </div>

        <div class="form-group col-md-12">
            <input type="password" [(ngModel)]="password" class="form-control" name="password" placeholder="Password">
        </div>

        <div  class="form-group col-md-12">
            <button type="submit"  ngClick class="btn btn-success">Login</button>
        </div>
    </form>
</div>